






.footer {
    /* height: 100px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 70px 20px 90px 20px;
    
  }
  .footerContainer{
    width: 100%;
    background-color:rgb(10, 10, 10);
    display: flex;
    justify-content: center;
  }
  .logoWhite {
    width: 150px;
    height:fit-content;
  }
  .footerMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .footerMenuHeader {
    margin-top: 20px;
    font-size: 12px;
    color: grey;
  }
  .footerMenuList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
  .footerMenuListItem {
    line-height: 0px;
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-weight: 200;
  }
  .footerMenuText{
    cursor: pointer;
  }
  .footerServices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .footerServicesHeader {
    margin-top: 20px;
    font-size: 12px;
    color: grey;
  }
  .footerServicesList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
  .footerServicesListItem {
    line-height: 0px;
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-weight: 200;
  }
  .footerContacts {
    display: flex;
    flex-direction: column;
  }
  .footerContactsItem {
    color: grey;
    font-style: 12px;
  }
  .FooterServicesText{}


  @media screen and (min-width: 780px){
    .footer {     
      flex-direction: row;
      justify-content: space-between;
      max-width: 1200px;
      padding-left: 40px;
      padding-right: 40px;
    }

  }
