.whereToUse {
    height: auto;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .whereToUseHeader {
  }
  .whereToUseContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
  }
  .textContent{
    display: flex;
    flex-direction: column;
  }
  .whereToUseList {
    /* padding: 20px; */
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    margin: 0;
  }
  .whereToUseListItem {
    list-style: disc;
    margin-bottom: 20px;
  }
  .whereToUseImg {
    width: 300px;

    max-width: 560px;
    margin: 0 auto;
  }



  @media screen and (min-width:1000px) {
    .whereToUseContent {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        
      }
      .whereToUseImg {
        width: 560px;}
}