.hero {
  height: 80vh;
  max-height: 800px;
  width: 100%;

  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  background: url(../../Assets/img/hero_img.jpg),
    linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(10, 19, 27, 1));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bgImageWrap {
}
.heroHeader {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  font-size: 42px;
}
.heroContent {
  text-align: center;
}
.heroInsidecontainer {
  max-width: 500px;
  padding: 0px 40px 0px 40px;
}
@media screen and (min-width: 1200px) {
  .heroInsidecontainer {
    max-width: 800px;
  }
}
