.photobooth {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
h2 {
  font-size: 34px;
}
.productHero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}
.productImage {
}
.photoBoothHeroImg {
  width: 100%;
}
.heroDescList {
}
.heroListItem {
  font-size: 14px;
  line-height: 2.5;
  font-weight: 300;
}

.photoSection {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photoSectionHeader {
  align-self: flex-start;
}
.photoList {
}
.photoSectionHeader {
}
.photoListItem {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 20px;
}
.photoboothSampleImg {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .productHero {
    flex-direction: row;
  }
}
