.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  box-sizing: border-box;
}
.photobooth {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* max-width: 400px; */
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
h2 {
  font-size: 30px;
  margin: 0;
  font-weight: 600;
  text-align: center;
  padding-bottom: 20px;
}
h3 {
  font-size: 23px;
  margin: 0;
}
.productHero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  box-sizing: border-box;
}
.heroWrapper {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productImage {
}
.photoBoothHeroImg {
  width: 100%;
  max-width: 560px;
}
.heroDescList {
}
.heroListItem {
  font-size: 14px;
  line-height: 2.5;
  font-weight: 300;
}

.photoSection {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.photoSectionHeader {
  align-self: flex-start;
}
.photoList {
}
.photoSectionHeader {
}
.photoListItem {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 20px;
}
.photoboothSampleImg {
  width: 100%;
}
.branding {
  margin-bottom: 60px;
  width: 100%;
}
.brandingDesc {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
  text-align: center;
}
.brandingList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.brandingListItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.brandingListItem:not(:last-child) {
  padding-bottom: 20px;
}
.brandingListDesc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  line-height: 1.35;
  font-weight: 300;
}
.brandingListImg {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.brandingListPrice {
  margin: 5px;
  font-size: 12px;
  line-height: 1.35;
  font-weight: 300;
  color: #7a7a7a;
}
.pricePackageList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
.pricePackageCard {
  border: 1px solid #e0e6ed;
  border-radius: 9px;
  width: 100%;
  box-sizing: border-box;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pricePackageCard:not(:last-child) {
  margin-bottom: 30px;
}
.pricePackageTitle {
  margin-bottom: 30px;
  font-weight: 600;
}
.pricePackagePrice {
  font-size: 30px;
  font-weight: 600;
}
.pricePackegeDescList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.pricePackegeDescListItem {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  padding: 10px;
}

.possibilities {
}
.possibilitiesTitle {
  margin-bottom: 40px;
  padding: 0;
}
.possibilitiesList {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.possibilitiesListItem {
  width: 100%;
  margin-bottom: 40px;
}
.possibilitiesListItemContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: content-box;
}
.possibilitiesImg {
  width: 40px;
}
.possibilitiesDesc {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
}
.possibilitiesItemTittle:not(:last-child) {
  margin-bottom: 14px;
}
.possibilitiesText {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

@media screen and (min-width: 740px) {
  .productHero {
    flex-direction: column;
  }
  .heroWrapper {
    flex-direction: row;
  }

  .itemContainer {
    max-width: 800px;
  }
  .photoSection {
    flex-direction: row;
  }
  .photoboothSampleImg {
    width: 40%;
    max-width: 560px;
  }
  .brandingList {
    flex-direction: row;
  }
  .brandingListItem {
    width: 25%;
    padding-bottom: 0px;
  }
  .brandingListItem:not(:last-child) {
    margin-right: 20px;
    padding-bottom: 0px;
  }
  .pricePackageList {
    flex-direction: row;
  }
  .pricePackageCard {
    width: 35%;
    padding: 15px;
  }
  .pricePackageCard:not(:last-child) {
    margin-right: 15px;
  }
  .possibilitiesList {
    padding: 0 50px;
  }
  .possibilitiesImg {
    width: 55px;
  }
  .possibilitiesDesc {
    padding-left: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .itemContainer {
    max-width: 1200px;
  }
  .possibilitiesList {
    padding: 0 200px;
  }
  .pricePackageCard {
    width: 30%;
  }
  .pricePackageCard:not(:last-child) {
    margin-right: 25px;
  }
}
