.services {
  
    max-height: 900px;
    max-width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    box-sizing: border-box;
   
  }
  .servicesList {
    width: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    
  }
  .servicesListItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    margin: 0 10px;
  }
  /* .servicesListItem:not(:last-child){
    margin-right: 20px;
  } */

  .servicesImg{
    width: 200px;
    /* height: 240px; */
  }

  @media screen and (min-width: 700px) {
    .servicesList {
       width:740px;
      /* justify-content: center; */
    }
    .servicesListItem {
      width: 240px;
    }
  }
  /* @media screen and (min-width: 1024px) {
    .servicesList {
      width: 1000px;
      justify-content: center;
      flex-wrap: wrap;
      overflow: none;
    }
  } */
  
  @media screen and (min-width: 1200px) {
    .servicesImg{
      width: 220px;
      /* height: 240px; */
    }
    .services {max-width: 1200px;
      width: 100%;
    }
    
    .servicesList { flex-wrap: wrap;
    width:100%;
  justify-content: center;
  align-items: center;
overflow-x: unset;}
  }