/* @media screen and (min-width: 480px) {
  .container {
    width: 380px;
    margin: 0 auto;
  }
} */

/* @media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
} */
.app {
  width: 100vw;
  max-width: 100%;
}

/* hide the scrollbar track */
.app::-webkit-scrollbar-track {
  background-color: transparent;
}

/* style the scrollbar thumb */
.app::-webkit-scrollbar-thumb {
  background-color: #bd0e0e;
  border-radius: 10px;
}

/* hide the scrollbar buttons */
.app::-webkit-scrollbar-button {
  display: none;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
body {
  font-family: 'Roboto';
}
.content {
  /* touch-action:pan-y; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* .smallPicturesBlock {
  padding: 45px 10px 90px 10px;
}
.smallPicturesBlockList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.smallPicturesBlockListItem {
  padding: 10px;
} */

